body {
	font-family: Verdana;
	color: #242424;
}

h1 {
	font-size: 45px;

	small {
		font-size: 20px;
		color: #676767;
		font-style: italic;
	}
}

.float-left {
	float: left;
}

.todo {
	display: block;
	border: 3px solid #333333;
	width: 500px;
	clear: both;
	padding-bottom: 25px;
	h2 {
		text-transform: uppercase;
		font-size: 30px;
		text-align: center;
	}
}