<!DOCTYPE html>
<html>
	<head>
		<title>Framework</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<img src="tardis.png" alt="" class="float-left"/>
		<h1>
			Index page
			<small>With some Scss</small>
		</h1>
		<p>And Handlebars, I'm a variable called <strong>name</strong> with the value => {{name}}</p>
		<p>
			I can load some images without any problems
			<br>
		</p>


		<ul class="todo">
			<h2>Todo</h2>
			<li>JSON format GET parameters : <strong>getParameters()</strong></li>
			<li>Models creation + inheritance</li>
			<li>Use promise for loading data from model or API</li>
			<li>Create helper for Handlebars</li>
			<li>Cookies managment</li>
			<li>Authentication (Passport ?)</li>
		</ul>
	</body>
</html>
